.w-100 { /* <----  .w-100 {} <--- reglas css */
    /* propiedad:  valor */
    width: 100px; /* <--- declaración */
}

.h-100 {
    height: 100px;
}

.w-200 {
    width: 200px;
}

.h-200 {
    height: 200px;
}

.border-blue-md {
    border: 3px solid darkblue;
}

.border-red-md {
    border: 3px solid darkred;
}

.border-green-sd {
    border: 1px solid darkgreen;
}




/* Imagenes propoción */
/* aspect ratio -> relación de aspecto */